<app-navbar></app-navbar>

<h2 class="title mt-2 has-text-centered">Logros</h2>

<div class="columns">
    <div class="column mt-4" style="border: solid 1px #44b13f; padding: 25px;">
        <p style="font-size: 25px;"> <img src="../../../assets/images/003-green-energy.svg" style="height:50px" alt="">  Planta Tu primer arbol </p> <p style="margin-left: 85%;">25 <img src="../../../assets/images/001-seed.svg" style="height: 20px; margin-left: 60px%;" alt=""></p>
    </div>

    <div class="column mt-4" style="border: solid 1px #44b13f; padding: 25px;">
        <p style="font-size: 25px;"> <img src="../../../assets/images/003-green-energy.svg" style="height:50px" alt="">  Planta 10 arboles </p> <p style="margin-left: 85%;">500 <img src="../../../assets/images/001-seed.svg" style="height: 20px; margin-left: 60px%;" alt=""></p>
    </div>

    <div class="column mt-4" style="border: solid 1px #44b13f; padding: 25px;">
        <p style="font-size: 25px;"> <img src="../../../assets/images/003-green-energy.svg" style="height:50px" alt="">  Invita 1 amigo! </p> <p style="margin-left: 85%;">50 <img src="../../../assets/images/001-seed.svg" style="height: 20px; margin-left: 60px%;" alt=""></p>
    </div>

    <div class="column mt-4" style="border: solid 1px #44b13f; padding: 25px;">
        <p style="font-size: 25px;"> <img src="../../../assets/images/003-green-energy.svg" style="height:50px" alt="">  Planta 5 variedades de arboles autoctonos </p> <p style="margin-left: 85%;">350 <img src="../../../assets/images/001-seed.svg" style="height: 20px; margin-left: 60px%;" alt=""></p>
    </div>

    <div class="column mt-4" style="border: solid 1px #44b13f; padding: 25px;">
        <p style="font-size: 25px;"> <img src="../../../assets/images/003-green-energy.svg" style="height:50px" alt="">  Planta un arbol por mes durante 5 meses </p> <p style="margin-left: 85%;">1500 <img src="../../../assets/images/001-seed.svg" style="height: 20px; margin-left: 60px%;" alt=""></p>
    </div>

</div>
