<app-navbar></app-navbar>

<div class="select is-success ml-2">
<select name="PAIS" id="">
  <option value="">Argentina</option>
  <option value="" disabled>Brasil</option>
  <option value="" disabled>Uruguay</option>
  <option value="" disabled>Colombia</option>
</select>
</div>
<div class="select is-success ml-2">
<select name="LOCALIDAD" id="">
  <option value="">Córdoba</option>
  <option value="" disabled>Buenos Aires</option>
  <option value="" disabled>Santa Fe</option>
  <option value="" disabled>Tucumán</option>
</select>
</div>
<div class="has-text-centered mb-2">
<h5 class="subtitle is-5 has-text-centered mt-2 has-text-danger">OJO! con no plantar estos Arboles</h5>
<button class="button is-danger" routerLink="/no-plantar">Ver Arboles NO recomendados!</button>
</div>
<h2 class="subtitle is-3 has-text-centered mt-4 has-text-white has-background-success titulo">Arboles Autoctonos</h2>
<div class="card mt-3">
    <div class="card-image">
      <figure class="image">
        <img src="../../../assets/images/peperina.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 has-text-success">Peperina</p>
        </div>
      </div>
  
      <div class="content">
        La <strong>peperina</strong> (Minthostachys verticillata) es una planta aromática silvestre de la familia de las <strong>lamiáceas</strong> . El nombre común de menta peperina proviene de una confusión (comercialmente aprovechada por empresas argentinas elaboradoras de infusiones) y es sustentado organolépticamente por las características del aceite esencial de algunos de los quimiotipos que la especie presenta, en algunos casos de aroma marcadamente mentolado
        <br>
      </div>
    </div>
  </div>
<!-- ************* -->

  <div class="card mt-3">
    <div class="card-image">
      <figure class="image">
        <img src="../../../assets/images/tabaquillo.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 has-text-success">Tabaquillo</p>
        </div>
      </div>
  
      <div class="content">
        El <strong>Tabaquillo</strong> Polylepis australis, queñoa, queuñoa es una especie de árbol de pequeña alzada, de la familia de las <strong>rosáceas</strong>. Es endémico de la Argentina. Crece a alturas entre 1.200 y 3.500 msnm.
        <br>
      </div>
    </div>
  </div>



  <div class="card mt-3">
    <div class="card-image">
      <figure class="image">
        <img src="../../../assets/images/piquillin.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 has-text-success">Piquillin</p>
        </div>
      </div>
  
      <div class="content">
        El <strong>piquillín</strong> (Condalia microphylla) es una especie de arbusto <strong>xerófilo</strong> espinoso de la familia Rhamnaceae. Es un arbusto xerófilo, de hasta 3,2 m de altura, con follaje perenne, espinescente; hojas diminutas, en ramilletes en las ramas menores, simples, elípticas ovadas, sésiles, cutinizadas, de 5-8 mm por 2,5 mm, color verde oscuro.
        <br>
      </div>
    </div>
  </div>



  <div class="card mt-3">
    <div class="card-image">
      <figure class="image">
        <img src="../../../assets/images/chañar.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 has-text-success">Chañar</p>
        </div>
      </div>
  
      <div class="content">
        La <strong>Chañar</strong> también llamado sofaique (Geoffroea decorticans) es un árbol de la familia de las <strong>fabáceas</strong> (o leguminosas), caducifolio, de corteza verde amarillenta, y con un fruto dulce y comestible. Su madera medianamente pesada es apta para carpintería, y como carbón y leña.
        <br>
      </div>
    </div>
  </div>




