<app-navbar></app-navbar>

<div class="card">
    
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image">
            <img src="../../../assets/images/pau.jpeg" style="border-radius: 50%; height: 100px;width: 100px;" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Paula Rostagno</p>
          <p class="subtitle is-6">@IAMPau♥</p>
        </div>
      </div>
  
      <div class="content">
        Trabajando por un planeta mas verde.
        <a href="#">#BosqueDisperso</a> <a href="#">#NasaSpacesApps</a>
        <hr>
      </div>
    </div>


    <div class="card-image columns m-1">
        <figure class="image mt-2 column" >
          <img src="../../../assets/images/quirquincho.jpg" alt="Placeholder image">
          <div class="content">
            Otro Arbolito mas para la coleccion
            <a href="#">#BosqueDisperso</a> <a href="#">#NasaSpacesApps</a>
            <hr>
          </div>
        </figure>
        <figure class="image mt-2 column" >
            <img src="../../../assets/images/chañar.jpg" style="height: 250px;" alt="Placeholder image">
            <div class="content">
                Amo los chañares ♥
                <a href="#">#BosqueDisperso</a> <a href="#">#NasaSpacesApps</a>
                <hr>
              </div>
          </figure>
          <figure class="image mt-2 column" >
            <img src="../../../assets/images/tabaquillo.jpg" style="height: 250px;" alt="Placeholder image">
            <div class="content">
                Mi primer Arbolito Plantado
                <a href="#">#BosqueDisperso</a> <a href="#">#NasaSpacesApps</a>
                <hr>
              </div>
          </figure>
      </div>


  </div>