<app-navbar></app-navbar>

<div class="container columns">
    <div class="column has-background-light" style="border:solid 1px #48c774; margin: 5px; border-radius: 10px;">
        <img class="imagen2" src="../../../assets/images/laura.jpg" alt="" srcset="">
        <h2 style="    margin-top: -50px;
        margin-left: 75px;" class="title is-2 has-text-success">TOP 1 <img src="../../../assets/images/003-1st-place.svg" style="height: 45px;" alt=""></h2>
        <p  style="margin-left: 75px;"> <strong>LAURA VELAZQUEZ</strong> </p>
        <p style="    margin-left: 75px;">1.5k Semillas <img src="../../../assets/images/001-seed.svg" style="height: 20px;" alt=""></p>
    </div>
    <div class="column has-background-light" style="border:solid 1px #48c774; margin: 5px; border-radius: 10px;">
        <img class="imagen2" src="../../../assets/images/pau.jpeg" alt="" srcset="">
        <h2 style="    margin-top: -50px;
        margin-left: 75px;" class="title is-2 has-text-success">TOP 2 <img src="../../../assets/images/002-2nd-place.svg" style="height: 45px;" alt=""></h2>
        <p  style="margin-left: 75px;"> <strong>PAULA</strong> </p>
        <p style="    margin-left: 75px;">1k Semillas <img src="../../../assets/images/001-seed.svg" style="height: 20px;" alt=""></p>
    </div>
    <div class="column has-background-light" style="border:solid 1px #48c774; margin: 5px; border-radius: 10px;">
        <img class="imagen2" src="../../../assets/images/roger.jpeg" alt="" srcset="">
        <h2 style="    margin-top: -50px;
        margin-left: 75px;" class="title is-2 has-text-success">TOP 3 <img src="../../../assets/images/001-3rd-place.svg" style="height: 45px;" alt=""></h2>
        <p  style="margin-left: 75px;"> <strong>Roger Varela</strong> </p>
        <p style="    margin-left: 75px;">500 Semillas <img src="../../../assets/images/001-seed.svg" style="height: 20px;" alt=""></p>
    </div>
    <div class="column has-background-light" style="border:solid 1px #48c774; margin: 5px; border-radius: 10px;">
        <img class="imagen2" src="../../../assets/images/clari-s.jpeg" alt="" srcset="">
        <h2 style="    margin-top: -50px;
        margin-left: 75px;" class="title is-2 has-text-success">TOP 4</h2>
        <p  style="margin-left: 75px;"> <strong>Clara Miserendino</strong> </p>
        <p style="    margin-left: 75px;">480 Semillas <img src="../../../assets/images/001-seed.svg" style="height: 20px;" alt=""></p>
    </div>
    <div class="column has-background-light" style="border:solid 1px #48c774; margin: 5px; border-radius: 10px;">
        <img class="imagen2" src="../../../assets/images/gaston.jpeg" alt="" srcset="">
        <h2 style="    margin-top: -50px;
        margin-left: 75px;" class="title is-2 has-text-success">TOP 5</h2>
        <p  style="margin-left: 75px;"> <strong>Gasto Arevalo</strong> </p>
        <p style="    margin-left: 75px;">450 Semillas <img src="../../../assets/images/001-seed.svg" style="height: 20px;" alt=""></p>
    </div>
    <div class="column has-background-light" style="border:solid 1px #48c774; margin: 5px; border-radius: 10px;">
        <img class="imagen2" src="../../../assets/images/clari-f.jpeg" alt="" srcset="">
        <h2 style="    margin-top: -50px;
        margin-left: 75px;" class="title is-2 has-text-success">TOP 6</h2>
        <p  style="margin-left: 75px;"> <strong>Maria</strong> </p>
        <p style="    margin-left: 75px;">330 Semillas <img src="../../../assets/images/001-seed.svg" style="height: 20px;" alt=""></p>
    </div>
    <div class="column has-background-light" style="border:solid 1px #48c774; margin: 5px; border-radius: 10px;">
        <img class="imagen2" src="../../../assets/images/leo.jpg" alt="" srcset="">
        <h2 style="    margin-top: -50px;
        margin-left: 75px;" class="title is-2 has-text-success">TOP 7</h2>
        <p  style="margin-left: 75px;"> <strong>Leo Ludueña</strong> </p>
        <p style="    margin-left: 75px;">100 Semillas <img src="../../../assets/images/001-seed.svg" style="height: 20px;" alt=""></p>
    </div>
</div>