<app-navbar></app-navbar>

<div class="container">
    <div class="has-text-centered  has-background-white container card" style="margin-top: -60px; margin-bottom: 50px; padding-bottom: 100px;">
        <div class="columns is-mobile mt-6 out-none" >

            <div class="column out-none is-mobile pointer mt-6" routerLink="/preg-tutorial">
                <img class="image is-128x128" style="margin: auto;" src="../../../assets/images/004-replant.svg" >
                <h2 class="subtitle has-text-grey-darker has-text-weight-bold">Plantar/Publicar Arbol</h2>
            </div>
    
            <div class="column has-text-centered out-none is-mobile pointer mt-6" routerLink="/arboles">
                    <img class="image is-128x128" style="margin: auto;" src="../../../assets/images/005-tree.svg" >
                <h2 class="subtitle has-text-grey-darker has-text-weight-bold">Arboles Autoctonos</h2>
            </div>

        </div>
    
    
        <div class="columns is-mobile mt-6 out-none" >
            
            <div class="column out-none is-mobile pointer mt-6" routerLink="/ranking" >
                <img class="image is-128x128" style="margin: auto;" src="../../../assets/images/006-forest.svg" >
                <h2 class="subtitle has-text-grey-darker has-text-weight-bold">Feed</h2>
            </div>
    
            <div class="column out-none is-mobile pointer mt-6" routerLink="/mapa" >
                <img class="image is-128x128" style="margin: auto;" src="../../../assets/images/002-sprout.svg" >
                <h2 class="subtitle has-text-grey-darker has-text-weight-bold">Mapa del Mundo</h2>
            </div>
        </div>
            
    </div>