<app-navbar></app-navbar>

<div class="select is-success ml-2">
<select name="PAIS" id="">
  <option value="">Argentina</option>
  <option value="" disabled>Brasil</option>
  <option value="" disabled>Uruguay</option>
  <option value="" disabled>Colombia</option>
</select>
</div>
<div class="select is-success ml-2">
<select name="LOCALIDAD" id="">
  <option value="">Córdoba</option>
  <option value="" disabled>Buenos Aires</option>
  <option value="" disabled>Santa Fe</option>
  <option value="" disabled>Tucumán</option>
</select>
</div>
<div class="has-text-centered mt-2">
    <button class="button is-success" routerLink="/arboles">Ver Arboles recomendados!</button>
    </div>

<h2 class="subtitle is-3 has-text-centered mt-4 has-text-white has-background-danger titulo">Arboles NO Recomendados</h2>
<div class="card mt-3">
    <div class="card-image">
      <figure class="image">
        <img src="../../../assets/images/pino.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 has-text-success">Pino</p>
        </div>
      </div>
  
      <div class="content">
        Los <strong>Pinos</strong> Dañan el suelo debido a que poseen sustancias tóxicas alelopáticas que contaminan el suelo, además absorben demasiada cantidad de agua, otro factor importante que ayuda al deterioro del suelo es las grietas que forman por la penetración de sus raíces.
        <br>
      </div>
    </div>
  </div>
<!-- ************* -->

  <div class="card mt-3">
    <div class="card-image">
      <figure class="image">
        <img src="../../../assets/images/siempreverde.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 has-text-success">Simpre Verde</p>
        </div>
      </div>
  
      <div class="content">
        El <strong>SiempreVerde</strong> Según datos de un estudio realizado por investigadores de la Universidad Nacional de Córdoba (UNC), en las Sierras Chicas cordobesas esta especie tuvo un crecimiento exponencial: pasó de ocupar 50 hectáreas en 1983, a 3850 hectáreas hacia fines de la década de 2000. Esto genera cambios drásticos en el ecosistema del lugar. No sólo reduce la diversidad de árboles nativos, sino que empobrece la estructura vertical del bosque. Esto deriva en una simplificación estructural de la vegetación y, en casos más extremos de invasión, la desaparición total de la vegetación que crece debajo del dosel arbóreo. Todo ello atenta contra la diversidad de aves del bosque serrano.
        <br>
      </div>
    </div>
  </div>



  




