<app-navbar></app-navbar>
<div class="columns has-text-centered">
<h1 class="title has-text-success has-text-centered">Mira los arboles registrados en tu zona</h1>
    <br>
    <div class=" fondo has-text-centered" >
        <img src="../../../assets/images/001-placeholder.svg" style="margin-top: 35px; margin-left: 10px;" routerLink="/arbol1" alt="">
        <img src="../../../assets/images/001-placeholder.svg" style="margin-top: 55px; margin-left: 50px;" routerLink="/arbol2" alt="">
        <img src="../../../assets/images/001-placeholder.svg" style="margin-top: 75px; margin-left: 35px;" routerLink="/arbol3" alt="">
        <img src="../../../assets/images/001-placeholder.svg" style="margin-top: 25px; margin-left: 35px;" routerLink="/arbol4" alt="">
    </div>
</div>