<app-navbar></app-navbar>
<div class="has-text-centered" routerLink="/posicion">
<button class="button is-primary has-text-centered">Ver Ranking
  <img src="../../../assets/images/001-badge.svg" style="height: 35px;margin-left: 10px;" alt="">
</button>

</div>
<div class="columns mt-3">
<div class="card column mt-3">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../../../assets/images/tabaquillo.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../../../assets/images/laura.jpg" class="amigo" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Laura Velazquez</p>
          <p class="subtitle is-6">@LauraVelazquez</p>
        </div>
      </div>
  
      <div class="content">
        TOP 1 Ranking Bosque Disperso, luego de plantar +10k arboles, logro conseguido <a>@BosqueDisperso</a>.
        <a href="#">#soylamejor</a> <a href="#">#top1</a> <a href="#">#viaverde</a>
        <br>
        <time datetime="2020-10-3">11:09 PM - 3 OCT 2020</time>
      </div>
    </div>
  </div>

  <div class="card column">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../../../assets/images/piquillin.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../../../assets/images/roger.jpeg" class="amigo" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Benjamin Varela</p>
          <p class="subtitle is-6">@xXRoger99Xx</p>
        </div>
      </div>
  
      <div class="content">
        Luego de que crecieria mi Piquillin, Inicie mi propia plantacion de piquillines (grandes), en el fondo <a>@BosqueDisperso</a>.
        <a href="#">#top2</a> <a href="#">#piquillin</a> <a href="#">#piquillingrandote</a> <a href="#">#lasmacetasdelfondo</a>
        <br>
        <time datetime="2020-3-19">15:11 PM - 19 MAR 2020</time>
      </div>
    </div>
  </div>


  <div class="card column">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../../../assets/images/quirquincho.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../../../assets/images/pau.jpeg" class="amigo" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Paula Rostagno</p>
          <p class="subtitle is-6">@IAMPau♥ </p>
        </div>
      </div>
  
      <div class="content">
          Luego de un trabajo Apasionante, me emociona poder mostrar mi plantacion de cola de quirquincho, para que el amor nunca se apague.
        <a>@BosqueDisperso</a>.
        <a href="#">#quirquincho</a> <a href="#">#afrodisiaco</a> <a href="#">#pasion</a> <a href="#">#bienestar</a>
        <br>
        <time datetime="2016-1-1">16:30 PM - 3 OCT 2020</time>
      </div>
    </div>
  </div>


  <div class="card column">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="../../../assets/images/arbolleo.jpg" alt="Placeholder image">
    </figure>
  </div>

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          
          <figure class="image is-48x48">
            <img src="../../../assets/images/leo.jpg" class="amigo" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Leo Ludueña</p>
          <p class="subtitle is-6">@LeitoSpaceApssCAB86 </p>
        </div>
      </div>
  
      <div class="content">
        Luego de plantar tantos arboles, desarrolle un amor especial por ellos
      <a>@BosqueDisperso</a>.
      <a href="#">#Toto</a> <a href="#">#afrodisiaco</a> <a href="#">#pasion</a> <a href="#">#love</a>
      <br>
      <time datetime="2016-1-1">16:30 PM - 3 OCT 2020</time>
    </div>
    </div>
  </div>