<app-navbar></app-navbar>
<h1 class="title is-1 mt-4 has-text-centered has-text-success">Como plantar un árbol?</h1>
<ol>
	<li>
    <img src="../../../assets/images/hueco.jpg" alt="" srcset="">
	<p> 1 - Afloja la tierra y haz un hueco de 30 centímetros de profundidad y 20 de ancho. Deposita &nbsp;de un lado la tierra de la primera mitad (más fértil y al otro lado, la tierra de la segunda mitad más profunda (menos fértil). Coloca al fondo del hueco la tierra más fértil, para que la raíz del arbolito tenga los mejores nutrientes.</p>
    </li>
	<li>
        <img src="../../../assets/images/retira.jpg" alt="">
	<p>2 - Retira con mucho cuidado la planta de la bolsa o charola.</p>
	</li>
	<li>
        <img src="../../../assets/images/3arboles.jpg" style="width: 100%;" alt="">
	<p>3 - Toma con los dedos la planta por la parte más baja del tallo y ponla en el centro del hueco sin tocar la raíz.</p>
	</li>
	<li>
	<p><strong>Procura que el límite entre la raíz y el tallo quede a ras del suelo.</strong> </p>
	</li>
	<li>
	<p>Deposita la tierra más profunda alrededor de las raíces hasta rellenar el hueco.</p>
	</li>
	<li>
        <img src="../../../assets/images/taparhueco.jpg" style="width: 100%;" alt="">
	<p>4 - Compacta la tierra con las manos o pies, sin que quede muy apretada o suelta.</p>
	</li>
	<li>
	<p>Haz un bordo o cajete alrededor del árbol, de un metro de diámetro para favorecer la captación de agua.</p>
	</li>
	<li>
        <img src="../../../assets/images/regar.jpg" alt="">
	<p> 5 - Recuerda que el suelo debe estar húmedo, se recomienda reforestar en época de lluvias. Al terminar de plantar debes agregar agua del árbol.</p>
	</li>
</ol>