<app-navbar></app-navbar>

<div class="has-text-centered">
  <p class="subtitle is-4 button is-success has-text-centered" >Nombre Arbol</p>
</div>


<div class="columns mt-3">
<div class="card column mt-3">
    
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../../../assets/images/laura.jpg" class="amigo" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Laura Velazquez</p>
          <p class="subtitle is-6">@LauraVelazquez</p>
          <p class="subtitle is-7 button is-success" style="margin-top: -20px;">Nombre Arbol</p>
          
        </div>
      </div>
  
      <div class="content">
        Comienzo de mi plantacion de arbolitos <a>@BosqueDisperso</a>.
        <a href="#">#soylamejor</a> <a href="#">#top1</a> <a href="#">#viaverde</a>
        <br>
        <time datetime="2020-10-3">11:09 PM - 3 SEP 2018</time>
        
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../../../assets/crecimiento/1.png" alt="Placeholder image">
      </figure>
    </div>
    <div>
          <img src="../../../assets/images/002-heart.svg" style="height: 25px;" alt="">
          <img src="../../../assets/images/001-comment.svg" style="height: 25px; margin-left: 10px;" alt="">
        </div>
  </div>

  <div class="card column mt-3">
    
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../../../assets/images/laura.jpg" class="amigo" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Laura Velazquez</p>
          <p class="subtitle is-6">@LauraVelazquez</p>
          <p class="subtitle is-7 button is-success" style="margin-top: -20px;">Nombre Arbol</p>
          
        </div>
      </div>
  
      <div class="content">
        Actualizacion, luego de 3 meses, se empieza a notar un fuerte crecimiento, se va acercando el verano <a>@BosqueDisperso</a>.
        <a href="#">#soylamejor</a> <a href="#">#top1</a> <a href="#">#viaverde</a>
        <br>
        <time datetime="2020-10-3">11:09 PM - 25 MAR 2019</time>
        
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../../../assets/crecimiento/2.png" alt="Placeholder image">
      </figure>
    </div>
    <div>
          <img src="../../../assets/images/002-heart.svg" style="height: 25px;" alt="">
          <img src="../../../assets/images/001-comment.svg" style="height: 25px; margin-left: 10px;" alt="">
        </div>
  </div>


  <div class="card column mt-3">
    
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../../../assets/images/laura.jpg" class="amigo" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Laura Velazquez</p>
          <p class="subtitle is-6">@LauraVelazquez</p>
          <p class="subtitle is-7 button is-success" style="margin-top: -20px;">Nombre Arbol</p>
          
        </div>
      </div>
  
      <div class="content">
        Cada vez mas cantidad de hojas, estan enorme! <a>@BosqueDisperso</a>.
        <a href="#">#soylamejor</a> <a href="#">#top1</a> <a href="#">#viaverde</a>
        <br>
        <time datetime="2020-10-3">11:09 PM - 3 JUN 2019</time>
        
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../../../assets/crecimiento/3.png" alt="Placeholder image">
      </figure>
    </div>
    <div>
          <img src="../../../assets/images/002-heart.svg" style="height: 25px;" alt="">
          <img src="../../../assets/images/001-comment.svg" style="height: 25px; margin-left: 10px;" alt="">
        </div>
  </div>

  <div class="card column mt-3">
    
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="../../../assets/images/laura.jpg" class="amigo" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Laura Velazquez</p>
          <p class="subtitle is-6">@LauraVelazquez</p>
          <p class="subtitle is-7 button is-success" style="margin-top: -20px;">Nombre Arbol</p>
        </div>
      </div>
  
      <div class="content">
        Tan Grandes, que no salen bien en la foto, que emocion luego de 12 meses de haber empezado, el verano ayudo muchisimo <a>@BosqueDisperso</a>.
        <a href="#">#soylamejor</a> <a href="#">#top1</a> <a href="#">#viaverde</a>
        <br>
        <time datetime="2020-10-3">11:09 PM - 3 Abril 2020</time>
        
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="../../../assets/crecimiento/5.png" alt="Placeholder image">
      </figure>
    </div>
    <div>
          <img src="../../../assets/images/002-heart.svg" style="height: 25px;" alt="">
          <img src="../../../assets/images/001-comment.svg" style="height: 25px; margin-left: 10px;" alt="">
        </div>
  </div>
  </div>